<div class="navbar">
  <img class="quay_logo" src="https://qc-static-pages.s3.us-west-2.amazonaws.com/ping_status/logo.svg">
</div>

<div class="contents_container">
  <div class="cards_container">
    <div *ngFor="let x of cards" class="card">
      <h1 class="id_label">{{x.id}}</h1>
      <p class="timestamp_label">{{x.timestamp}}</p>
      <p class="click_for_image_label" (click)="image = x.img_url">[Click for image]</p>
    </div>
  </div>
  <img *ngIf="image" class="large_image" src="{{image}}">
</div>

<div class="subscription_bar">
  <div class="text-center">
    <button class="subscription_button">Subscription</button>
  </div>
</div>